.whatsapp_float{
    position: fixed;
    bottom: 50px;
    right: 0px;
    left: 79%;
    
}

.dot {
    background-color: white;
    border-radius: 12%;
    display: inline-block;
  }
  .dot:hover {
    background-color: white;
    border-radius: 12%;
    display: inline-block;
  }